.DS_Store
*.bin
*.dSYM/
*.class
*.o
*.out
*.py[cod]
__pycache__/
*.swp
*~
tempCodeRunnerFile.java
tempCodeRunnerFile.cpp
**/.vscode/c_cpp_properties.json
/practice/in
/practice/out
/practice/exp
/practice/*
!/practice/*.cpp
