{%- if include.embedded.size >= 1 -%}
<div class="code">
<script>document.currentScript.parentElement.classList.add('code-pending')</script>
    <div class="btn-area">
        <div class="btn-group btn-group-tabs">
    {%- if include.embedded.size >= 2 or include.coverage -%}
            <button type="button" class="code-btn code-toggle-btn selected" data-target="code-body-1">code</button>
        {%- if include.coverage -%}
            <button type="button" class="code-btn code-toggle-btn" data-target="code-body-coverage">coverage</button>
        {%- endif -%}
        {%- for source in include.embedded -%}
            {%- unless forloop.first -%}
            <button type="button" class="code-btn code-toggle-btn" data-target="code-body-{{forloop.index}}">{{source.name}}</button>
            {%- endunless -%}
        {%- endfor -%}
    {%- endif -%}
        </div>
        <div class="btn-group btn-group-copy">
            <button type="button" class="code-btn code-copy-btn hint--top hint--always hint--disable" aria-label="Copied!">copy</button>
    {%- for source in include.embedded -%}
        {%- unless forloop.first -%}
            <button type="button" class="code-btn code-copy-btn hint--top hint--always hint--disable" aria-label="Copied!" data-target="code-body-{{forloop.index}}">copy {{source.name}}</button>
        {%- endunless -%}
    {%- endfor -%}
        </div>
    </div>
{%- for source in include.embedded -%}
    {%- assign codeBody = source.code -%}
    <pre class="hljs {% unless forloop.first %}disable{% endunless %}" id="code-body-{{forloop.index}}"><code class="language-{{include.extension}}">{{ codeBody | xml_escape }}</code></pre>
{%- endfor -%}
{%- if include.coverage -%}
    {%- assign codeBody = include.embedded.first.code -%}
    <pre class="hljs disable" id="code-body-coverage" data-coverage-counts="{% for c in include.coverage.lineCounts %}{{ c.line }}:{{ c.count }}:{{ c.branchCounts | join: '|' }}{% unless forloop.last %},{% endunless %}{% endfor %}" data-coverage-excluded="{{ include.coverage.excludedLines | join: ',' }}"><code class="language-{{include.extension}}">{{ codeBody | xml_escape }}</code></pre>
{%- endif -%}
</div>
{%- else -%}
<div style="height: 5em;">:x: <b>There is no code.</b></div>
{%- endif -%}
